.start-date {
display:none !important;
}

.event-start-end-date {
display:none !important;
}

#date-and-time {
display:none !important;
}

.mat-focus-indicator mat-menu-trigger action-button mat-stroked-button mat-button-base ng-star-inserted {
display:none !important;
}

.bt-add-to-calendar {
display:none !important;
}

