.start-date {
display:none !important;
}

.event-start-end-date {
display:none !important;
}

#date-and-time {
display:none !important;
}

.product-item__date {
display:none !important;
}

.product-item__dateTime {
display:none !important;
}
