.start-date {
display:none !important;
}

.event-start-end-date {
display:none !important;
}

#date-and-time {
display:none !important;
}

.bt-add-to-calendar {
display:none !important;
}

.mat-menu {
display:none !important;
}
