.start-date {
display:none !important;
}

.event-start-end-date {
display:none !important;
}

#date-and-time {
display:none !important;
}

.action-button {
display:none !important;
}

.done-button {
display:inline !important;
}

